.card-halloween {
  background-image: url("../../assets/pumpkin.jpeg");
  background-image: url("../../assets/pumpkin.jpeg");
  height: 240px;
  width: 100%;
  background-position: center;
  background-size: cover;
}